@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #fff;
$secondary_color: #27a927;
$background: #272727;
$border: #fff;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Montserrat Bold';
	src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url(fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: 'Montserrat Light';
	src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url(fonts/Montserrat-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	.moduletable_to11 {
		font: {
			family: 'Montserrat Medium';
			size: 16px;
		}
		a {
			color: $primary_color;
		}
	}
}

.top {
	padding: 20px 0;
	.moduletable_to1 {}
	.moduletable_to2 {
		ul.mega-menu {
			li {
				background: {
					image: url(moduletable_to2_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				a {
					font-family: 'Montserrat Medium' !important;
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	font: {
		family: 'Montserrat Light';
		size: 18px;
	}
	h1 {
		width: fit-content;
		margin: auto;
		padding: 5px 20px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		font: {
			family: 'Montserrat Bold';
			size: 40px;
		}
		color: $secondary_color;
		span {
			font-family: 'Montserrat Light';
			color: $primary_color;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			font-family: 'Montserrat Medium';
		}
	}
	label {
		color: $primary_color;
	}
	input,
	textarea,
	[type=text],
	[type=email],
	textarea {
		background-color: #323232;
		border: 0;
		border-radius: 0;
		color: $primary_color;
	}
	.html5gallery-container-1,
	.html5gallery-container-2,
	.html5gallery-container-3 {
		background-color: #fff;
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				padding: 10px;
				border: 1px solid rgba(128, 128, 128, 0.1);
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						width: auto;
						max-height: 150px;
						margin: {
							left: auto;
							right: auto;
						}
					}
					h2.woocommerce-loop-product__title {
						min-height: 80px;
						border: 0;
						font-size: 12px;
						color: $primary_color;
					}
					span.price {
						font-weight: bold;
					}
				}
				a.product_type_simple {
					background-color: $secondary_color;
					border-radius: 0;
					color: #fff;
					display: block;
				}
			}
		}
		.product {
			h1.product_title {
				margin-bottom: 20px;
				border: 0;
				font-size: 30px;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 60px;
	.moduletable_b11 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 20px;
			border: 1px solid rgba(255, 255, 255, 0.1);
			font: {
				family: 'Montserrat Bold';
				size: 40px;
			}
			color: $secondary_color;
			span {
				font-family: 'Montserrat Light';
				color: $primary_color;
			}
		}
		.item {
			overflow: hidden;
			position: relative;
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.6);
				overflow: hidden;
				position: absolute;
				-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				top: 100%;
				h4 {
					margin: 15px 0;
					font: {
						family: 'Montserrat Medium';
						size: 40px;
					}
					color: $primary_color;
					text-align: center;
				}
				p {
					padding: 0 10px;
					font-size: 14px;
					a {
						&.button {
							background-color: transparent;
							border: 1px solid $secondary_color;
							border-radius: 0;
							color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 60px;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 20px;
			border: 1px solid rgba(255, 255, 255, 0.1);
			font: {
				family: 'Montserrat Bold';
				size: 40px;
			}
			color: $secondary_color;
			span {
				font-family: 'Montserrat Light';
				color: $primary_color;
			}
		}
		figure {
			figcaption {
				h3 {
					border: 0;
					font-size: 20px;
					color: $primary_color;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 60px;
	.moduletable_b31 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 20px;
			border: 1px solid rgba(255, 255, 255, 0.1);
			font: {
				family: 'Montserrat Bold';
				size: 40px;
			}
			color: $secondary_color;
			span {
				font-family: 'Montserrat Light';
				color: $primary_color;
			}
		}
		[type=text],
		[type=email],
		textarea {
			background-color: #323232;
			border: 0;
			border-radius: 0;
			color: $primary_color;
		}
		.button {
			margin-bottom: 0;
			background-color: $secondary_color;
			border-radius: 0;
		}
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 60px 0;
	background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_bo1 {
		h3 {
			font-family: 'Montserrat ExtraBold';
		}
		a {
			color: $primary_color;
		}
	}
}

/* Copyright */

.copyright {
	padding: 20px 0;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			.text-right,
			.text-left {
				text-align: center;
			}
		}
	}

	/* Content */

	.content {
		h1 {
			font-size: 20px;
		}
	}

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			h3 {
				font-size: 20px;
			}
		}
	}

	/* Block 2 */

	.block_2 {
		.moduletable_b21 {
			h3 {
				font-size: 20px;
			}
		}
	}

	/* Block 3 */

	.block_3 {
		.moduletable_b31 {
			h3 {
				font-size: 20px;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}